# COMPOSE_PROJECT_NAME=work
COMPOSE_PROJECT_NAME=
# PORT=9631
PORT=
# IMAGE=ubuntu:latest
IMAGE=
# UID=1000
UID=

# DOWNLOADS_PATH=/home/fvv/downloads/
DOWNLOADS_PATH=
# WORK_PATH=/home/fvv/work
WORK_PATH=
# ORG_PATH=/home/fvv/org/work
ORG_PATH=
# INBOX_ORG_PATH=/home/fvv/org/inbox.org
INBOX_ORG_PATH=

# OPENCODE_CONFIG=/workspace/.opencode/opencode.json
OPENCODE_CONFIG=
CONTEXT7_API_KEY=
# JIRA_URL=https://jira.agrohistory.com
JIRA_URL=
JIRA_PERSONAL_TOKEN=
# CONFLUENCE_URL=https://confluence.agrohistory.com
CONFLUENCE_URL=
CONFLUENCE_PERSONAL_TOKEN=

# YANDEX_CALDAV_URL=https://caldav.yandex.ru
YANDEX_CALDAV_URL=
# YANDEX_USERNAME=v.fedorov@assistagro.com
YANDEX_USERNAME=
YANDEX_PASSWORD=

# VSEGPT_API=https://api.vsegpt.ru/v1/chat/completions
VSEGPT_API=
VSEGPT_API_KEY=
# BITRIX_WEBHOOK_URL=https://geomir.bitrix24.ru/rest/7290/..../
BITRIX_WEBHOOK_URL=
GITLAB_PERSONAL_ACCESS_TOKEN=
HF_TOKEN=

# GRAYLOG_ENDPOINT='https://graylog.agrohistory.local/'
GRAYLOG_ENDPOINT=
# GRAYLOG_USERNAME='v.fedorov'
GRAYLOG_USERNAME=
GRAYLOG_PASSWORD=
# GRAYLOG_VERIFY_SSL='false'
GRAYLOG_VERIFY_SSL=

# ECP n8n
# N8N_API_URL=http://51.250.3.187:9030
N8N_API_URL=
N8N_API_KEY=

# Authorization token for Openclaw
OPENCLAW_TOKEN=

# Mattermost
MATTERMOST_TOKEN_ID=
MATTERMOST_TEAM_ID=
MATTERMOST_ACCESS_TOKEN=
# MATTERMOST_URL='https://mattermost.agroassist.ru'
MATTERMOST_URL=
