DEV_CONTAINER_NAME=work
PORT=9631
IMAGE=ubuntu:latest
UID=1000

DOWNLOADS_PATH='/home/fvv/downloads/'
WORK_PATH='/home/fvv/work'
ORG_PATH='/home/fvv/org/work'
INBOX_ORG_PATH='/home/fvv/org/inbox.org'

CONTEXT7_API_KEY=
JIRA_URL='https://jira.agrohistory.com'
JIRA_PERSONAL_TOKEN=
CONFLUENCE_URL='https://confluence.agrohistory.com'
CONFLUENCE_PERSONAL_TOKEN=

YANDEX_CALDAV_URL='https://caldav.yandex.ru'
YANDEX_USERNAME='v.fedorov@assistagro.com'
YANDEX_PASSWORD=

VSEGPT_API='https://api.vsegpt.ru/v1/chat/completions'
VSEGPT_API_KEY=
BITRIX_WEBHOOK_URL='https://geomir.bitrix24.ru/rest/7290/..../'
GITLAB_PERSONAL_ACCESS_TOKEN=
HF_TOKEN=

GRAYLOG_ENDPOINT='https://graylog.agrohistory.local/'
GRAYLOG_USERNAME='v.fedorov'
GRAYLOG_PASSWORD=
GRAYLOG_VERIFY_SSL='false'

N8N_API_URL=
N8N_API_KEY=

OPENCLAW_TOKEN=

MATTERMOST_TOKEN_ID=
MATTERMOST_TEAM_ID=
MATTERMOST_ACCESS_TOKEN=
MATTERMOST_URL='https://mattermost.agroassist.ru/api/v4'

CREDENTIALS_CONFIG=
