{
  "agents": {
    "defaults": {
      "workspace": "/workspace/openclaw",
      "model": {
        "primary": "deepseek-api-vsegpt-ru/deepseek/deepseek-chat"
      },
      "models": {
        "deepseek-api-vsegpt-ru/deepseek/deepseek-chat": {
          "alias": "deepseek-chat"
        }
      }
    }
  },
  "gateway": {
    "mode": "local",
    "auth": {
      "mode": "token",
      "token": "${OPENCLAW_TOKEN}"
    },
    "port": 18789,
    "bind": "0.0.0.0",
    "tailscale": {
      "mode": "off",
      "resetOnExit": false
    },
    "controlUi": {
      "allowInsecureAuth": true,
      "allowedOrigins": ["*"]
    },
    "nodes": {
      "denyCommands": [
        "camera.snap",
        "camera.clip",
        "screen.record",
        "contacts.add",
        "calendar.add",
        "reminders.add",
        "sms.send",
        "sms.search"
      ]
    }
  },
  "session": {
    "dmScope": "per-channel-peer"
  },
  "tools": {
    "profile": "coding",
    "web": {
      "search": {
        "provider": "duckduckgo",
        "enabled": true
      }
    }
  },
  "models": {
    "mode": "merge",
    "providers": {
      "deepseek-api-vsegpt-ru": {
        "baseUrl": "https://api.vsegpt.ru/v1",
        "api": "openai-completions",
        "apiKey": "${VSEGPT_API_KEY}",
        "models": [
          {
            "id": "deepseek/deepseek-chat",
            "name": "deepseek/deepseek-chat (Custom Provider)",
            "contextWindow": 128000,
            "maxTokens": 4096,
            "input": [
              "text"
            ],
            "cost": {
              "input": 0,
              "output": 0,
              "cacheRead": 0,
              "cacheWrite": 0
            },
            "reasoning": false
          }
        ]
      }
    }
  },
  "skills": {
    "install": {
      "nodeManager": "npm"
    }
  },
  "hooks": {
    "internal": {
      "enabled": true,
      "entries": {
        "session-memory": {
          "enabled": true
        },
        "command-logger": {
          "enabled": true
        },
        "bootstrap-extra-files": {
          "enabled": true
        },
        "boot-md": {
          "enabled": true
        }
      }
    }
  },
  "meta": {
    "lastTouchedVersion": "2026.4.2"
  },
  "plugins": {
    "entries": {
      "duckduckgo": {
        "enabled": true
      }
    }
  }
}
